:root {
  --light: rgb(226, 226, 248);
  --dark: rgba(0, 0, 0, 0.897);
  --green: rgb(103, 209, 198);
  --blue: rgb(9, 9, 59);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--light);
}

header {
  background-color: var(--dark);
  padding: 10px;
  padding-bottom: 27px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

header img {
  width: 200px;
  border-radius: 100%;
  position: absolute;
  margin-top: 60px;
  margin-left: 20px;
}

h1 {
  background-color: var(--green);
  position: absolute;
  width: 312px;
  height: 5%;
  text-align: right;
  font-weight: 600;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 15px;
  border-radius: 0px 2px 2px 0;
  font-size: 2em;
  text-transform: uppercase;
  color: var(--dark);
}

h2 {
  font-size: 25px;
  background-color: var(--green);
  position: absolute;
  box-sizing: border-box;
  right: 44px;
  top: 220px;
  padding: 4px;
  border-radius: 2px;
}

.a-tag-header {
  font-size: 12px;
  color: var(--green);
  text-decoration: none;
  margin: 5px;
  border-bottom: solid 2px var(--green);
  padding-bottom: 2px;
}

nav #header-nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

nav {
  padding-top: 17px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
}
/* image */
#computer {
  width: 100vw;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
}

#about-me-container {
  display: flex;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 100px;
}

p {
  margin-right: 60px;
  border-left: solid 2px var(--blue);
  margin-left: 10px;
  margin-top: 20px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 1.5;
}

#work-container {
  display: flex;
  margin-top: 20px;
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  margin-left: 24px;
  margin-top: 10px;
  margin-right: 60px;
  border-left: solid 2px var(--blue);
}

#forest-image {
  width: 98.7%;
  height: 400px;
  border: 2px solid var(--green);
  overflow: hidden;
  object-fit: cover;
  margin-left: 3px;
}

.thumbnails {
  border: 2px solid var(--green);
  height: 100px;
  /* width: 500px; */
  overflow: hidden;
  object-fit: cover;
  margin: 3px;
  width: 48.7%;
}

.work-images {
  filter: grayscale(0.8);
  transition: all 1s;
}

.work-images:hover {
  filter: grayscale(0);
}

#contact-me-container {
  display: flex;
  margin-top: 20px;
}

footer h4 {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 66px 60px 20px;
}

#footer-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-left: solid var(--blue) 2px;
  padding-left: 20px;
  margin-bottom: 40px;
}

.footer-links {
  text-decoration: none;
  font-size: 12px;
  color: var(--dark);
  border-bottom: solid 2px var(--blue);
}

@media screen and (max-width: 1050px) {
  .thumbnails {
    width: 98.7%;
  }
}

@media screen and (max-width: 768px) {
  #header-image {
    margin-left: 0px;
    margin-top: 127px;
  }
  #about-me-container {
    flex-direction: column;
    align-items: center;
  }
  #work-container {
    flex-direction: column;
    align-items: center;
  }

  p {
    border-left: 0;
    padding: 0;
    margin: 20px;
  }

  #image-container {
    border-left: none;
    padding: 0;
    margin: 0;
  }

  #forest-image {
    margin: 20px 0;
  }

  h3 {
    border-bottom: solid 2px var(--blue);
    margin-left: 0;
  }

  footer h4 {
    text-align: center;
    margin: 30px 0;
  }

  #contact-me-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 580px) {
  h1 {
    border-radius: 2px;
    padding: 0;
    text-align: center;
  }
  nav #header-nav {
    justify-content: center;
    margin-top: 55px;
  }

  header {
    height: 100px;
    justify-content: center;
  }

  /* h1 {
    text-align: center;
    left: 128px;
    border-radius: 2px;
    padding: 0;
    top: 20px;
  } */
}
